@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

@theme {
  --font-josefin: "Josefin Sans", sans-serif;
  --primary-color: #a3a3a3;

  --breakpoint-xs: 25rem;
  --breakpoint-xss: 22rem;
  --breakpoint-xsm: 31rem;
}
